<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOS码农公社群号106868842.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7D71FE761C7AD95B008F54E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D71FE8F1C7AD95C008F54E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D71FE9A1C7AD95C008F54E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
