<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>电台</string>
		<key>image</key>
		<string>music_transceiver.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>歌单</string>
		<key>image</key>
		<string>music_song.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>新歌</string>
		<key>image</key>
		<string>music_new.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>翻唱</string>
		<key>image</key>
		<string>music_fan.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>原创</string>
		<key>image</key>
		<string>music_original.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>明星</string>
		<key>image</key>
		<string>music_star.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>民谣</string>
		<key>image</key>
		<string>music_literature.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>纯音乐</string>
		<key>image</key>
		<string>music_lingsheng.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>古风</string>
		<key>image</key>
		<string>music_gufeng</string>
	</dict>
	<dict>
		<key>title</key>
		<string>古典</string>
		<key>image</key>
		<string>music_classical.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>电子</string>
		<key>image</key>
		<string>music_dianzi.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>ACG</string>
		<key>image</key>
		<string>music_acg.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>影视</string>
		<key>image</key>
		<string>music_movie.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>老歌</string>
		<key>image</key>
		<string>music_lao.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>文艺</string>
		<key>image</key>
		<string>music_wenyi.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>睡前</string>
		<key>image</key>
		<string>music_sleep.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>铃声</string>
		<key>image</key>
		<string>music_lingsheng.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>榜单</string>
		<key>image</key>
		<string>music_dan.jpg</string>
	</dict>
</array>
</plist>
